<div class="container">
<h1>New Transaction</h1>

<%= render "form", group_entity: @group_entity %>

<br>

<div>
  <%= link_to "Back to transaction", group_path(@group_id), class: "link" %>
</div>
</div>