
<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Categories</h1>

  <div id="groups">
    <% @groups.each do |group| %>
      <div class="group-card">
        <%= render group %>
      </div>
    <% end %>
  </div>

  <%= link_to "Add Category", new_group_path, class: 'alink back-button' %>

</div>
